.team-section {
    position: relative;
    display: flex;
    min-height: 925px;
    align-items: center;
    justify-content: center;
    padding: 80px 60px;
    overflow: hidden;
  }

  @media (max-width: 991px) {
    .team-section {
      padding: 0 20px;
    }
  }

  .background-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1078px;
    margin-top: 49px;
  }

  @media (max-width: 991px) {
    .content-wrapper {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  .row {
    display: flex;
    gap: 20px;
  }

  @media (max-width: 991px) {
    .row {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }

  .text-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 68%;
    margin-left: 0;
  }

  @media (max-width: 991px) {
    .text-column {
      width: 100%;
    }
  }

  .text-content {
    display: flex;
    flex-direction: column;
    margin-top: 57px;
  }

  @media (max-width: 991px) {
    .text-content {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  .title {
    color: #d5b98e;
    font: 700 43px PT Serif, sans-serif;
  }

  .description {
    color: #f5f4f4;
    margin-top: 56px;
    font: 400 13px Noto Sans, sans-serif;
  }

  @media (max-width: 991px) {
    .description {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  .image-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 32%;
    margin-left: 20px;
  }

  @media (max-width: 991px) {
    .image-column {
      width: 100%;
    }
  }

  .image-grid {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    color: #f2efea;
    text-align: center;
    margin-top: 6px;
    padding: 0 1px;
  }

  @media (max-width: 991px) {
    .image-grid {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }

  .image-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto 0;
  }

  .image-1 {
    width: 100%;
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;

    align-self: end;
    margin-top: 87px;
  }

  @media (max-width: 991px) {
    .image-1 {
      margin-top: 40px;
    }
  }

  .image-2 {
    width: 100%;
    aspect-ratio: 1.54;
    object-fit: auto;
    object-position: center;
    border-radius: 145.768px 145.768px 145.768px 0;

    align-self: start;
  }

  @media (max-width: 991px) {
    .image-2 {
      max-width: 100%;
    }
  }

  .highlight {
    background-color: rgb(245, 166, 35);
    color: rgb(74, 144, 226);
  }

  .team-section {
    display: flex;
    flex-direction: column;
  }

  .team-intro {
    width: 100%;
  }

  @media (max-width: 991px) {
    .team-intro {
      max-width: 100%;
    }
  }

  .team-intro-content {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-around;
}

  @media (max-width: 991px) {
    .team-intro-content {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }

  .team-intro-text {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 80%;
    margin-left: 0;
  }

  @media (max-width: 991px) {
    .team-intro-text {
      width: 100%;
    }
  }

  .team-intro-text-content {
    display: flex;
    flex-direction: column;
    margin-top: 57px;
    padding: 0 20px;
  }

  @media (max-width: 991px) {
    .team-intro-text-content {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  .team-intro-heading {
    color: #d5b98e;
    font: 900 2.8rem PT Serif, sans-serif;
  }

  .team-intro-heading span {
  
    font: 900 3.2rem PT Serif, sans-serif;
  }
  @media (max-width: 991px) {
    .team-intro-heading {
      max-width: 100%;
    }
  }

  .team-intro-description {
    color: #f5f4f4;
    margin-top: 56px;
    font: 400 20px Noto Sans, sans-serif;
  }

  @media (max-width: 991px) {
    .team-intro-description {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  .team-intro-image {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
  }

  @media (max-width: 991px) {
    .team-intro-image {
      width: 100%;
    }
  }

  .team-intro-img {
    aspect-ratio: 1.12;
    object-fit: auto;
    object-position: center;
    width: 100%;

    flex-grow: 1;
  }

  @media (max-width: 991px) {
    .team-intro-img {
      margin-top: 40px;
    }
  }

  .team-photos {
    align-self: center;
    margin-top: 6px;
    width: 100%;
    max-width: 100%;
  }

  .team-photos-content {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
  }

  @media (max-width: 991px) {
    .team-photos-content {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }

  .team-photo-left {
    position: relative;
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 0;
  }

  @media (max-width: 991px) {
    .team-photo-left {
      width: 100%;
    }
  }

  .team-photo-left-img {
    
    object-fit: auto;
    object-position: center;
    width: 100%;

    margin-top: 87px;
  }

  @media (max-width: 991px) {
    .team-photo-left-img {
      margin-top: 40px;
    }
  }

  .team-photo-center {
    position: relative;
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 0;
  }

  @media (max-width: 991px) { 
    .team-photo-center {
      width: 200%;
    }
  }

  .team-photo-center-img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 100%;

   
  }

  @media (max-width: 991px) {
    .team-photo-center-img {
      margin-top: 40px;
    }
  }


  .infoEquipe {

    background-image: url("../../images/fundoEquipe.png");
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 20px;
    
  }
  


.div {
    display: flex;
    max-width: 134px;
    flex-direction: column;
    color: #f2efea;
    text-align: center;
  }
  .div-2 {
    color: white;
    width: 100%;
    font: 700 18px Noto Sans, sans-serif;
  }
  .div-3 {
    color: white;
    margin-top: 19px;
    width: 100%;
    font: 400 14px Noto Sans, sans-serif;
  }
  .img {
    aspect-ratio: 4.17;
    object-fit: auto;
    object-position: center;
    width: 50%;
    fill: #c49c83;
    margin-top: 24px;
  }


  .team-photo-right:hover .infoEquipe {
display: block;
 
  }

  .team-photo-center:hover .infoEquipe {
    display: block;
     
      }

      .team-photo-left:hover .infoEquipe {
        display: block;
         
          }


  .team-photo-right:hover .team-photo-right-img {


    filter: blur(5px); /* Aplicar desfoque à imagem quando o mouse passar por cima */
}

.team-photo-left:hover .team-photo-left-img {


  filter: blur(5px); /* Aplicar desfoque à imagem quando o mouse passar por cima */
}

.team-photo-center:hover .team-photo-center-img {


  filter: blur(5px); /* Aplicar desfoque à imagem quando o mouse passar por cima */
}



  .team-photo-right {
    position: relative;
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
    margin-top: 87px
  }

  @media (max-width: 991px) {
    .team-photo-right {
      width: 100%;
    }
  }

  .team-photo-right-img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 100%;

  }

  @media (max-width: 991px) {
    .team-photo-right-img {
      margin-top: 40px;
    }
  }


  .span{

    color:blue;
  }
  .bg-highlight{
    background-color: #D5B98E;
    color: #1A4165;
  }