.heroo {
    position: relative;
    display: flex;
    min-height: 452px;
    align-items: center;
    justify-content: center;
    padding: 80px 60px;
    overflow: hidden;
    font-size: 18px;
    color: #f5f4f4;
    font-weight: 700;
  }

  @media (max-width: 991px) {
    .heroo {
      padding: 0 20px;
    }
  }

  .heroo-background {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .heroo-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 687px;
    max-width: 100%;
    margin-top: 38px;
  }

  .heroo-title {
    font: 48px PT Serif, sans-serif;
    text-align: center;
  }

  @media (max-width: 991px) {
    .heroo-title {
      max-width: 100%;
      font-size: 40px;
    }
  }

  .heroo-description {
    align-self: stretch;
    margin-top: 25px;
    font-family: Noto Sans, sans-serif;
    font-weight: 400;
  }

  @media (max-width: 991px) {
    .heroo-description {
      max-width: 100%;
    }
  }

  .heroo-cta {
    display: flex;
    justify-content: center;
    padding: 14px 25px;
    margin-top: 48px;
    border-radius: 5px;
    background-color: #1a4273;
    color: #fff;
    font-family: Noto Sans, sans-serif;
    white-space: nowrap;
  }

  @media (max-width: 991px) {
    .heroo-cta {
      margin-top: 40px;
      padding: 0 20px;
      white-space: initial;
    }
  }