.footer {
    backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-top: 28px solid rgba(213, 185, 142, 1);
    display: flex;
    padding-top: 27px;
    flex-direction: column;
  }
  
  .footer-content {
    border-radius: 10.6px;
    background-color: #d6d6d6;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 24px 80px 47px;
  }
  
  @media (max-width: 991px) {
    .footer-content {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  
  .footer-columns {
    gap: 20px;
    display: flex;
  }
  
  @media (max-width: 991px) {
    .footer-columns {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }
  
  .footer-column-left {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 67%;
    margin-left: 0;
  }
  
  @media (max-width: 991px) {
    .footer-column-left {
      width: 100%;
    }
  }
  
  .footer-contact {
    display: flex;
    margin-left: 45px;
    width: 941px;
    max-width: 100%;
    flex-direction: column;
  }
  
  .footer-contact-content {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 20px;
    justify-content: space-between;
  }
  
  @media (max-width: 991px) {
    .footer-contact-content {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  
  .footer-logo-contact {
    align-self: end;
    display: flex;
    margin-top: 57px;
    gap: 20px;
    color: #000;
    font-weight: 400;
    justify-content: space-between;
  }
  
  @media (max-width: 991px) {
    .footer-logo-contact {
      margin-top: 40px;
    }
  }
  
  .footer-logo {
    aspect-ratio: 0.81;
    object-fit: auto;
    object-position: center;
    width: 119px;
    max-width: 100%;
  }
  
  .footer-contact-details {
    align-self: start;
    display: flex;
    flex-direction: column;
  }
  
  .footer-contact-heading {
    font: 700 17px Noto Sans, sans-serif;
  }
  
  .footer-email {
    display: flex;
    margin-top: 23px;
    gap: 7px;
    font-size: 15px;
    white-space: nowrap;
  }
  
  @media (max-width: 991px) {
    .footer-email {
      white-space: initial;
    }
  }
  
  .footer-email-icon {
    aspect-ratio: 0.95;
    object-fit: auto;
    object-position: center;
    width: 19px;
  }
  
  .footer-email-address {
    font-family: Noto Sans, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
  }
  
  .footer-phone {
    display: flex;
    margin-top: 19px;
    gap: 7px;
    font-size: 14px;
  }
  
  .footer-phone-icon {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 19px;
  }
  
  .footer-phone-number {
    font-family: Noto Sans, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
  }
  
  .footer-social-icons {
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-social-icon {
    aspect-ratio: 1.02;
    object-fit: auto;
    object-position: center;
    width: 50px;
    border-radius: 18px 5px 10px 5px;
  }
  
  .footer-social-icon-2 {
    aspect-ratio: 1.02;
    object-fit: auto;
    object-position: center;
    width: 50px;
    border-radius: 18px 5px 10px 5px;
    margin-top: 54px;
  }
  
  @media (max-width: 991px) {
    .footer-social-icon-2 {
      margin-top: 40px;
    }
  }
  
  .footer-social-icon-3 {
    aspect-ratio: 1.02;
    object-fit: auto;
    object-position: center;
    width: 50px;
    border-radius: 18px 5px 10px 5px;
    align-self: end;
  }
  
  .footer-column-right {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
  }
  
  @media (max-width: 991px) {
    .footer-column-right {
      width: 100%;
    }
  }
  
  .footer-map {
    aspect-ratio: 1.3;
    object-fit: contain;
    object-position: center;
    width: 100%;
 
    min-height: 20px;
    min-width: 20px;
    overflow: hidden;
    max-width: 375px;
  }
  
  .footer-divider {
   
    background-color: #d5b98e;
    margin-top: 26px;
    width: 90%;
    max-width: 100%;
    height: 4px;
  }
  
  @media (max-width: 991px) {
    .footer-divider {
      margin-right: 7px;
    }
  }
  
  .footer-copyright {
    color: #000;
    align-self: center;
    margin-top: 45px;
    font: 400 15px Noto Sans, sans-serif;
  }
  
  @media (max-width: 991px) {
    .footer-copyright {
      margin-top: 40px;
    }
  }

  