#home {
    display: flex;
    min-height: calc(100vh - 250px);
    position: relative;
}

#cta {
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title {
    font-size: 3rem;
    color: var(--color-neutral-1);;
}

#cta .title span {
    color: var(--color-primary-6);
}

#cta .description {
    font-size: 1,1rem;
    width: 60%;
}

#cta_buttons {
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
    color: var(--color-neutral-1);;
}

#phone_button {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

#phone_button button {
    box-shadow: none;
}

#banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
    z-index: 2;
}

#banner img {
    height: 100%;
    width: fit-content;
}

.shape {
    background-color: var(--color-primary);
    background-image:image() ;
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 0;
    right: 0;
    z-index: 1;
}

@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #banner,
    #banner img,
    #home .shape {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 450px) {
    #phone_button button {
        display: none;
    }
}

.container {
    background-color: #d6d6d6;
    display: flex;
    flex-direction: column;
  }

  .header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    background-color: #d6d6d6;
    z-index: 10;
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 18px;
    color: #070a0c;
    font-weight: 700;
    justify-content: center;
    padding: 36px 60px;
  }

  @media (max-width: 991px) {
    .header {
      max-width: 100%;
      padding: 0 20px;
    }
  }

  .header-content {
    display: flex;
    width: 100%;
    max-width: 1158px;
    gap: 20px;
  }

  @media (max-width: 991px) {
    .header-content {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }

  .logo {
    align-self: start;
    margin-top: 10px;
    flex-grow: 1;
    flex-basis: auto;
    font: 25px PT Serif, sans-serif;
  }

  .navigation {
    display: flex;
    gap: 20px;
    font-weight: 400;
    white-space: nowrap;
    justify-content: space-between;
    margin: auto 0;
  }

  @media (max-width: 991px) {
    .navigation {
      white-space: initial;
    }
  }

  .nav-link {
    font-family: Noto Sans, sans-serif;
  }

  .login-button {
    font-family: Noto Sans, sans-serif;
    justify-content: center;
    border-radius: 5px;
    background-color: #1a4273;
    color: #fff;
    white-space: nowrap;
    padding: 6px 25px;
  }

  @media (max-width: 991px) {
    .login-button {
      white-space: initial;
      padding: 0 20px;
    }
  }

  .hero-section {
    align-self: center;
    margin-top: -109px;
    width: 100%;
    max-width: 100%;
  }

  @media (max-width: 991px) {
    .hero-section {
      max-width: 100%;
    }
  }

  .hero-content {
    gap: 20px;
    display: flex;
  }

  @media (max-width: 991px) {
    .hero-content {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
  }

  @media (max-width: 991px) {
    .hero-text {
      width: 100%;
    }
  }

  .hero-text-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  @media (max-width: 991px) {
    .hero-text-content {
      max-width: 100%;
    }
  }

  .hero-title {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    min-height: 317px;
    color: #070a0c;
    justify-content: center;
    padding: 230px 0 73px;
    font: 700 15px Noto Sans, sans-serif;
  }

  @media (max-width: 991px) {
    .hero-title {
      max-width: 100%;
      padding-top: 40px;
    }
  }

  .hero-title-bg {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .hero-subtitle {
    color: #d5a356;
    z-index: 0;
    margin-top: -49px;
    font: italic 700 46px PT Serif, sans-serif;
  }

  @media (max-width: 991px) {
    .hero-subtitle {
      max-width: 100%;
      font-size: 40px;
    }
  }

  .hero-description {
    color: #000;
    z-index: 0;
    margin-top: 57px;
    font: 400 15px Noto Sans, sans-serif;
  }

  @media (max-width: 991px) {
    .hero-description {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  .hero-cta {
    overflow: hidden;
    margin-top: -23px;
    padding: 47px 0 80px;
  }

  @media (max-width: 991px) {
    .hero-cta {
      max-width: 100%;
      padding-right: 20px;
    }
  }

  .hero-cta-buttons {
    gap: 20px;
    display: flex;
  }

  @media (max-width: 991px) {
    .hero-cta-buttons {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }

  .learn-more-button {
    justify-content: center;
    border-radius: 5px;
    background-color: #1a4273;
    color: #fff;
    width: 100%;
    padding: 14px 25px;
    font: 700 18px Noto Sans, sans-serif;
  }

  @media (max-width: 991px) {
    .learn-more-button {
      margin-top: 40px;
      padding: 0 20px;
    }
  }

  .try-now-button {
    justify-content: center;
    border-radius: 5px;
    border: 1px solid rgba(7, 10, 12, 1);
    background-color: #d5b98e;
    color: #070a0c;
    white-space: nowrap;
    width: 100%;
    padding: 14px 25px;
    font: 400 18px Noto Sans, sans-serif;
  }

  @media (max-width: 991px) {
    .try-now-button {
      margin-top: 40px;
      white-space: initial;
      padding: 0 20px;
    }
  }

  .hero-image {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }

  @media (max-width: 991px) {
    .hero-image {
      width: 100%;
    }
  }

  .hero-image-content {
    aspect-ratio: 1.01;
    object-fit: auto;
    object-position: center;
    width: 100%;
    margin-top: 165px;
    flex-grow: 1;
  }

  @media (max-width: 991px) {
    .hero-image-content {
      max-width: 100%;
      margin-top: 40px;
    }
  }