<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Senha</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleNovaSenha.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/Logo.png') }}" type="image/png">

</head>
<body>
  <img src="{{ url_for('static', filename='images/Bolinha listras superior.png') }}" class="texturaC">
    <img src="{{ url_for('static', filename='images/Bolinha listras dir.png') }}" class="texturaBD">
    <img src="{{ url_for('static', filename='images/Bolinha listras esq.png') }}" class="texturaBE">
    <div class="container">
        <div class="content">
            <h1>Nova senha</h1>
            <p>Defina a nova senha para a sua conta para que você possa fazer login e acessar todos os recursos.</p>
            <form method="POST" action="{{ url_for('EsqueciSenhaNovaSenha') }}">
              <span class="text">Insira sua nova senha:</span>
                <div class="group">
                    <svg stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon">
                        <path d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" stroke-linejoin="round" stroke-linecap="round"></path>
                    </svg>
                    <input class="input" type="password" name="nova_senha" placeholder="No mínimo 8 dígitos" required minlength="8">
                </div>
                <span class="text">Confirme sua senha:</span>
                <div class="group">
                    <svg stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon">
                        <path d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" stroke-linejoin="round" stroke-linecap="round"></path>
                    </svg>
                    <input class="input" type="password" name="confirmacao_senha" placeholder="No mínimo 8 dígitos" required minlength="8">
                </div>
                <button type="submit">Continuar</button>
                {% if msg %}
                <script>
                    alert("{{ msg }}");
                </script>
                {% endif %}
            </form>
        </div>
    </div>
</body>
</html>
