<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueceu sua senha?</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleVerificacao.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/Logo.png') }}" type="image/png">

</head>
<body>
    <img src="{{ url_for('static', filename='images/Bolinha listras superior.png') }}" class="texturaC">
    <img src="{{ url_for('static', filename='images/Bolinha listras dir.png') }}" class="texturaBD">
    <img src="{{ url_for('static', filename='images/Bolinha listras esq.png') }}" class="texturaBE">

    <div class="container">
        <div class="content">
            <h1>Verificação</h1>
            <p>Escreva os 4 dígitos que foram enviados para {{ email }}</p>
            <form method="POST" action="{{ url_for('EsqueciSenhaVerificacao') }}" class="form">
                <div class="input-fields">
                    <input placeholder="" type="tel" name="code1" maxlength="1">
                    <input placeholder="" type="tel" name="code2" maxlength="1">
                    <input placeholder="" type="tel" name="code3" maxlength="1">
                    <input placeholder="" type="tel" name="code4" maxlength="1">
                </div>
                <div class="timer-container">
                    <div id="timer">00:30</div>
                </div>
                <button type="submit">Continuar</button>
                {% if msg %}
    <script>
        alert("{{ msg }}");
    </script>
    {% endif %}
            </form>
            <p>Não recebeu o código? <a href="#" style="color: #F2451C;" id="resend-link">Reenviar</a></p>
        </div>
    </div>
    <script>
        // Função para iniciar o temporizador
        function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            var interval = setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);
                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;
                display.textContent = minutes + ":" + seconds;
                if (--timer < 0) {
                    clearInterval(interval);
                    display.textContent = "00:00";
                    // Adicione qualquer ação adicional quando o tempo acabar, se necessário
                }
            }, 1000);
        }

        window.onload = function () {
            var threeMinutes = 60 / 2,
                display = document.querySelector('#timer');
            startTimer(threeMinutes, display);
        };

        document.addEventListener("DOMContentLoaded", function() {
            const inputs = document.querySelectorAll('.input-fields input');

            inputs.forEach((input, index) => {
                input.addEventListener('input', () => {
                    if (input.value.length === 1 && index < inputs.length - 1) {
                        inputs[index + 1].focus();
                    }
                });

                input.addEventListener('keydown', (e) => {
                    if (e.key === 'Backspace' && index > 0 && input.value.length === 0) {
                        inputs[index - 1].focus();
                    }
                });
            });

            document.getElementById('resend-link').addEventListener('click', function(event) {
                event.preventDefault();
                fetch('{{ url_for("reenviar_codigo") }}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ email: "{{ email }}" })
                }).then(response => response.json())
                .then(data => {
                    alert(data.msg);
                });
            });
        });
    </script>
</body>
</html>
