<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Senha</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleConcluido.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/Logo.png') }}" type="image/png">

</head>
<body>
    <img src="{{ url_for('static', filename='images/Bolinha listras superior.png') }}" class="texturaC">
    <img src="{{ url_for('static', filename='images/Bolinha listras dir.png') }}" class="texturaBD">
    <img src="{{ url_for('static', filename='images/Bolinha listras esq.png') }}" class="texturaBE">
    <img src="{{ url_for('static', filename='images/fotoJustica.jpg') }}" class="fotoo">
    <div class="container">
        <center>
            <div class="content">
                <img src="{{ url_for('static', filename='images/check.png') }}" alt="Check" class="icon-check">
                <h1>Senha atualizada</h1>
                <p>Sua nova senha foi registrada. Faça login em nossa plataforma!</p>
                <button onclick="window.location.href='/login'">Login</button>
            </div>
        </center>
    </div>
</body>
</html>



