<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Administrador</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleHome.css') }}">
    <script src="https://kit.fontawesome.com/4665b3a379.js" crossorigin="anonymous"></script>
    <link rel="icon" href="{{ url_for('static', filename='images/Logo.png') }}" type="image/png">

</head>
<body>

  <div class="loader-overlay">
    <div class="spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    </div>
</div>

  <!-- //é aq krl -->
    <nav class="sidebar">
      <section class="profile-section">
        <img src="{{ '/' + user.imagem.replace('\\', '/') }}" alt="Foto do Usuário" class="profile-image">
        <h1 class="profile-name">{{ user.nome }}</h1>
        <p class="profile-role">{{ role }}</p>
    </section>
      
        <ul class="nav-list">
            <li class="nav-item active">
                <a href="/Home" class="nav-link">
                    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/947e818bbd7d3172fdcb33b91acf0924d8972caabaf15a72f82cccb9ea840bd2?apiKey=86836f072c124e818bc78d0c65f8ba52&" class="nav-icon" alt="">
                    <span class="nav-text">Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/CadastroAdvogado" class="nav-link">
                    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/a029aaf80babb69667b5c7121d25929da1e115a7ea30ca07227da4f377e0da37?apiKey=86836f072c124e818bc78d0c65f8ba52&" class="nav-icon" alt="">
                    <span class="nav-text">Cadastrar advogados</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/CadastroCliente" class="nav-link">
                    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/7cc6f667946bdb2513a1c753f41657bd3a4ea803204f0230fa4c72ffa83ae771?apiKey=86836f072c124e818bc78d0c65f8ba52&" class="nav-icon" alt="">
                    <span class="nav-text">Cadastrar clientes</span>
                </a>
            </li>
            <li class="nav-item ">
              <a href="/GerenciaAdv" class="nav-link">
                  <img loading="lazy" style="  aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 24px;" src="https://cdn.builder.io/api/v1/image/assets/86836f072c124e818bc78d0c65f8ba52/11df733341c359f742bac4648f1ad0d7ee546521e8b5222a1749a7bc085f46bf?apiKey=86836f072c124e818bc78d0c65f8ba52&" class="nav-icon" alt="">
                  <span class="nav-text">Gerenciar Advogados</span>
              </a>
          </li>
            <li class="nav-item">
                <a href="/TJHome" class="nav-link">
                    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/427518cf73675b8be74ce61d6e429be5ed44d054aaa5e124681e454754e014f1?apiKey=86836f072c124e818bc78d0c65f8ba52&" class="nav-icon" alt="">
                    <span class="nav-text">Gerenciar Clientes</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/TJDuvidas" class="nav-link">
                    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/0884257241e3b1574843327c16f5e9f08fa07f44942f09efdbcacd72202ad44e?apiKey=86836f072c124e818bc78d0c65f8ba52&" class="nav-icon" alt="">
                    <span class="nav-text">TJ para dúvidas</span>
                </a>
            </li>
        </ul>

        <footer class="sidebar-footer">
        <a href="{{ url_for('logout') }}" class="Btn">
            <div class="sign">
                <svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg>
            </div>
            <div class="text">Logout</div>
        </a>
        
      </footer>
    </nav>
    <main class= "main-class">





      <section class="home-adm">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/86836f072c124e818bc78d0c65f8ba52/6cb074825fc27d844bd0c7ea22940ec60dd330d5ae5580701ae2154c73d1fdb8?apiKey=86836f072c124e818bc78d0c65f8ba52&" class="hero-image" alt="Home administration hero image" />
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/86836f072c124e818bc78d0c65f8ba52/7a31a562f3223ca72e2f32676a94ba867615112155f77485d0b32532119dbc28?apiKey=86836f072c124e818bc78d0c65f8ba52&" class="overlay-image" alt="Overlay image for home administration" />
      </section>

      <div class="info-card">

        
         
      
        <div class="carde">
          <!-- Substitua o SVG por uma imagem de capa -->
          <img src="/static/images/capaa.png" alt="Imagem de Capa" class="card__image" />
          <div class="card__content">
            <p class="card__title">Curiosidade ‼</p>
            <p class="card__description">no Japão, o sistema de justiça penal funciona de maneira diferente de muitos países ocidentais: cerca de 99% dos réus em casos criminais são considerados culpados.</p>
          </div>
        </div>

       <div class="carde">
        <img src="/static/images/logo.png" alt="Imagem de Capa" class="card__image" style="height: 85%;" />        
        <div class="card__content">
          <p class="card__title">Nosso Sistema 🤖</p>
          <p class="card__description">O Tribunal Jobs é um sistema que usa inteligência artificial para otimizar e auxiliar na organização e no gerenciamento das informações jurídicas, facilitando o trabalho dos profissionais do direito.</p>
        </div>
     </div>
    
      </div>

      <div class="action-cards">
        <a href="{{ url_for('TJHome') }}" class="card-link">
          <div class="card">
            <img src="https://cdn.builder.io/api/v1/image/assets/86836f072c124e818bc78d0c65f8ba52/727b6b5475b7e3db6e2250ced8cd45a17180a2fa6c3cd944c070127faf5e0102?apiKey=86836f072c124e818bc78d0c65f8ba52&" alt="" class="background-image" />
            <img src="https://cdn.builder.io/api/v1/image/assets/86836f072c124e818bc78d0c65f8ba52/a46ca879fced7e8d7be2c93bbbb381ab4e165784bb734d1d5997d25492109b31?apiKey=86836f072c124e818bc78d0c65f8ba52&" alt="Legal documents icon" class="icon-image" />
            <p class="card-text">Chat Cliente com TJ</p>
          </div>
        </a>
      
        <a href="{{ url_for('TJDuvidas') }}" class="card-link">
          <div class="card">
            <img src="https://cdn.builder.io/api/v1/image/assets/86836f072c124e818bc78d0c65f8ba52/b4c15055084e1989ff406b465fde4c86cc4ea84410f75c14de035f824817b171?apiKey=86836f072c124e818bc78d0c65f8ba52&" alt="" class="background-image" />
            <img src="https://cdn.builder.io/api/v1/image/assets/86836f072c124e818bc78d0c65f8ba52/14e477663c62c5b3ad9cef17a05f11c56fd5395844bf56506bb7aeadd69e7ed6?apiKey=86836f072c124e818bc78d0c65f8ba52&" alt="Questions icon" class="icon" />
            <p class="card-text">Dúvidas com o TJ</p>
          </div>
        </a>


      </div>
      

      <div class="main">
        <div class="currentplaying">
            <p class="heading">Clientes</p>
        </div>
        {% if clientes %}
                {% for cliente in clientes %}
        <div class="loader">
                    <div class="song">
                        <!-- NOME DO CLIENTE -->
                        <p class="name">{{ cliente.nome }}</p>
                        <!-- CAUSA DO CLIENTE -->
                        <p class="causa">{{ cliente.causa }}</p>
                    </div>
                    <div class="albumcover">
                        <!-- IMAGEM DO CLIENTE OU PLACEHOLDER -->
                        <img src="{{ cliente.imagem or 'https://via.placeholder.com/40' }}" class="albumcover" alt="Foto do Cliente">
                    </div>   
        </div>
            {% endfor %}
            {% else %}
          <p>Nenhum cliente encontrado.</p>
        {% endif %}
    </div>
    </main>

    <script> 
      
      window.addEventListener('load', function() {
        document.querySelector('.loader-overlay').style.display = 'none';
    });
    function triggerUpload() {
        document.getElementById("upload-input").click();
      }
      
      function loadFile(event) {
        const output = document.getElementById("profile-pic");
        const uploadIcon = document.querySelector(".icon");
      
        output.src = URL.createObjectURL(event.target.files[0]);
        output.style.display = "block"; // Exibe a imagem de perfil
        uploadIcon.style.display = "none"; // Esconde o ícone de upload
      
        output.onload = () => {
          URL.revokeObjectURL(output.src); // Libera a memória do objeto URL
        };
      }
    </script>
</body>
</html>
